img {
    position: fixed;
    left: 584px;
    top: 300px;
    margin: 2px 2px 2px 0;
}

.Form input[type="text"] {
    position: fixed;
    top: 410px;
    left: 465px;
    margin: 0px 2px 0px;
    width: 500px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.Form input[type="submit"] {
    position: fixed;
    top: 470px;
    left: 510px;
    padding: 2px;
    margin: 2px;
    width: 200px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #5F6368;
}

.Form2 input[type="submit"] {
    position: fixed;
    top: 470px;
    left: 740px;
    padding: 2px;
    margin: 2px;
    width: 200px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #5F6368;
}

.Form3 input[type="text"] {
    position: fixed;
    top: 410px;
    left: 465px;
    margin: 0px 2px 0px;
    width: 500px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.Form3 input[type="submit"] {
    position: fixed;
    top: 470px;
    left: 610px;
    padding: 2px;
    margin: 2px;
    width: 230px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #5F6368; 
}